#game-board {
    display: grid;
    grid-template-columns: repeat(10, 9vw);
    grid-template-rows: repeat(10, 9vw);
    gap: 0.2vw;
}

.tile {
    width: 9vw;
    height: 9vw;
    border-radius: 1vw;
    cursor: pointer;
}


.red { background: #e74c3c; }
.blue { background: #3498db; }
.green { background: #2ecc71; }
.yellow { background: #f1c40f; }
.purple { background: #9b59b6; }
