#game-board {
    display: grid;
    grid-template-columns: repeat(10, 9vmin);
    grid-template-rows: repeat(10, 9vmin);
    gap: 0.5vmin;
    touch-action: none;
}

.tile {
    width: 9vmin;
    height: 9vmin;
    border-radius: 1vmin;
    cursor: pointer;
}


.red { background: #e74c3c; }
.blue { background: #3498db; }
.green { background: #2ecc71; }
.yellow { background: #f1c40f; }
.purple { background: #9b59b6; }
