#game-board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 2px;
}

.tile {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
}


.red { background: #e74c3c; }
.blue { background: #3498db; }
.green { background: #2ecc71; }
.yellow { background: #f1c40f; }
.purple { background: #9b59b6; }
